# Build folders
*build/
out/
x64/
*Debug/
Release/

# IDE/Text editor settings
.vs/
.vscode/
*.swp

# Mac system files
.DS_Store

# Cmake settings for IDE (Microsoft Visual Studio)
CMakeSettings.json

# Some build misc stuff
*.lib
*.pdb